* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f1f2f6 !important;
}

a {
  text-decoration: none;
}

/*====== Navbar ====== */

.logo {
  max-width: 250px !important;
}

.navbar {
  height: 90px;
  width: 100%;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 20;
}
ul.navbar-nav > li > a {
  text-transform: uppercase;
}

.nav-item a:hover,
.nav-item a.active {
  color: #a87c36 !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent !important;
}

.navbar-bg {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 5px #e9e9e9;
}
.icons {
  display: flex;
  gap: 15px;
}

.account-icon,
.search-icon,
.cart-icon {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.account-icon:hover,
.search-icon:hover,
.cart-icon:hover {
  color: #a87c36 !important;
}

/*====== Register ====== */
.bg-overlay {
  background: url(../public/img/banner.jpg) center no-repeat fixed;
  background-size: cover;
  padding: 150px 0;
  float: left;
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  z-index: 1;
}

.bg-overlay::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: #000;
  opacity: 0.8;
}

.div-area a {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.div-area a:hover {
  color: #a87c36 !important;
}

.clear {
  clear: both;
}

.user-account {
  padding: 30px;
  max-width: 1230px;
  margin: auto;
  display: flex;
  flex-flow: column;
}

.user-account .grid-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}

.form-main {
  max-width: 250px;
}
.register-form input {
  display: block;
  width: 100%;
  padding: 10px 20px 10px 20px;
  margin-bottom: 30px;
}

.register-form button {
  background-color: #a87c36;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  border: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.register-form button:hover {
  background-color: #000;
}

.register-form a {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.register-form a:hover {
  color: #a87c36 !important;
}

.errorMessage {
  background-color: rgba(255, 0, 0, 0.07);
  color: red;
  padding: 12px 20px;
}
/*====== Login ====== */
.loginForm input {
  padding: 10px 20px 10px 20px;
  margin-bottom: 30px;
}

.loginForm button {
  background-color: #a87c36;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  border: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.loginForm button:hover {
  background-color: #000;
}

.loginForm form {
  border-bottom: 2px solid #000;
}

.loginForm a {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.loginForm a:hover {
  color: #a87c36 !important;
}

/*====== Account Page ====== */
.outer-row {
  border-bottom: 1px solid #000;
}

.logoutBtn {
  background-color: #a87c36;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  border: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.logoutBtn:hover {
  background-color: #000;
}

.account-details p {
  font-weight: 500;
  font-size: 17px;
  color: #a87c36;
  letter-spacing: 2px;
}

/*====== Header ======*/

.myslider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider {
  position: relative;
  width: 100%;
}

.myslider {
  height: 850px;
  display: none;
  overflow: hidden;
}

.txt {
  position: absolute;
  color: #000;
  letter-spacing: 2px;
  line-height: 35px;
  top: 40%;
  left: 15%;
  -webkit-animation-name: posi;
  -webkit-animation-duration: 3s;
  animation-name: posi;
  animation-duration: 3s;
  z-index: 1;
  width: 600px;
}

.homebtn {
  background-color: #a87c36;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  border: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.homebtn:hover {
  background-color: #000;
}

.carousel-indicators button:hover,
.carousel-indicators button.active {
  background-color: #a87c36;
}

@-webkit-keyframes posi {
  from {
    left: 25%;
  }
  to {
    left: 15%;
  }
}

@keyframes posi {
  from {
    left: 25%;
  }
  to {
    left: 15%;
  }
}

.txt h1 {
  font-weight: bold;
  margin: 20px;
}

.txt p {
  font-size: 20px;
}

.myslider img {
  transform: scale(1.2, 1.2);
  -webkit-animation-name: zoomin;
  -webkit-animation-duration: 5s;
  animation-name: zoomin;
  animation-duration: 5s;
}

@-webkit-keyframes zoomin {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}

@keyframes zoomin {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}

/*====== Products/Collection ======*/

#product-cards {
  margin-top: 90px;
}

#product-cards .card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#product-cards h3 {
  font-size: 16px;
}

#product-cards h5 {
  font-size: 18px;
}

#product-cards h5 strike {
  font-size: 15px;
  margin-left: 8px;
}

#product-cards h5 span {
  float: right;
  cursor: pointer;
  transition: all 0.5s ease;
}

#product-cards h5 span:hover {
  color: #a87c36;
}

.star {
  margin-bottom: 5px;
}

.star svg {
  color: #a87c36;
}

#viewmorebtn {
  margin: auto;
  color: #000;
  margin-top: 30px;
  font-weight: bold;
  width: 200px;
  height: 30px;
  border: 2px solid #000;
  transition: all 0.5s ease;
}

#viewmorebtn:hover {
  color: #a87c36;
  text-decoration: underline !important;
  border: 2px solid #a87c36;
}

#product-cards .img-wrapper {
  overflow: hidden;
}

#product-cards .img-wrapper img {
  width: 100%;
  -webkit-transform: scale(1);
  -webkit-transition: all 0.4s ease;
  transform: scale(1);
  transition: all 0.4s ease;
}

#product-cards .img-wrapper img:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  cursor: pointer;
}

/*====== Banner ======*/

.banner {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../public/img/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 90px;
}

.banner-content {
  text-align: center;
}

.banner-content h3 {
  color: #fff;
  font-size: 38px;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 0px 1px 1px #000;
}

.banner-content p {
  color: #fff;
  font-size: 16px;
  margin-top: 5px;
  letter-spacing: 2px;
  font-weight: 500;
  text-shadow: 0px 1px 1px #000;
}

.banner-content p span {
  font-size: 22px;
  font-weight: bold;
}

.banner-content button a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.banner-content button {
  background-color: #a87c36;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  border: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.banner-content button:hover {
  background-color: #000;
}

/*====== Service ======*/

.service svg {
  font-size: 62px;
  color: #a87c36;
}

/*====== Footer ======*/

footer .brand {
  letter-spacing: 3px;
}

footer a:hover {
  color: #a87c36 !important;
}

/*====== Product Page ======*/

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

.product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.product input:focus {
  outline: none;
}

.buy-btn {
  background-color: #a87c36;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  border: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.buy-btn:hover {
  background-color: #000;
}

.small-img-col:hover,
.small-img-col:active {
  border: 2px solid #a87c36;
}

/*====== Cart ======*/

.cart-container {
  padding: 2rem 4rem;
}

.cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.cart-container .titles {
  margin: 2rem 0 1rem 0;
}

.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 1.5rem;
}

.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr;
  column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}

.cart-container .titles .product-title {
  padding-left: 0.5rem;
}

.cart-container .titles .subtotal {
  padding-right: 0.5rem;
  justify-self: right;
}

.cart-item .cart-product {
  display: flex;
}

.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}

.cart-item .cart-product h3 {
  font-weight: 400;
}

.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}

.cart-item .cart-product button:hover {
  color: #000;
}

.cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}

.cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.cart-product-quantity .count {
  padding: 0.7rem 0;
}

.cart-product-subtotal-price {
  justify-self: right;
  padding-right: 0.5rem;
  font-weight: 700;
}

/*====== Cart Summary ======*/

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}

.cart-summary .clear-cart {
  width: 130px;
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(177, 177, 177);
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
}

.cart-checkout {
  width: 270px;
  max-width: 100%;
}

.cart-checkout .total {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.cart-checkout .total .amount {
  font-weight: 700;
}
.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}

.cart-checkout button {
  background-color: #a87c36;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  border: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.cart-checkout button:hover {
  background-color: #000;
}

.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}

.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}

.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*====== MEDIA QUERIES ======*/
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 800px) {
  .myslider {
    height: 500px;
  }
  .txt {
    line-height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation-name: posi2;
    -webkit-animation-duration: 2s;
    animation-name: posi2;
    animation-duration: 2s;
  }
  @-webkit-keyframes posi2 {
    from {
      top: 35%;
    }
    to {
      top: 50%;
    }
  }
  @keyframes posi2 {
    from {
      top: 35%;
    }
    to {
      top: 50%;
    }
  }
  .txt h1 {
    font-size: 40px;
  }
  .txt p {
    font-size: 13px;
  }
}

@media screen and (max-width: 619px) {
  .txt h1 {
    font-size: 30px;
  }
  .txt {
    top: 30%;
    transform: translate(-50%, -50%);
    -webkit-animation-name: posi3;
    -webkit-animation-duration: 2s;
    animation-name: posi2;
    animation-duration: 2s;
    width: 520px;
  }
  @-webkit-keyframes posi2 {
    from {
      top: 15%;
    }
    to {
      top: 30%;
    }
  }
  @keyframes posi2 {
    from {
      top: 15%;
    }
    to {
      top: 30%;
    }
  }
}

@media screen and (max-width: 540px) {
  .txt {
    width: 430px;
  }
}

@media screen and (max-width: 440px) {
  .txt h1 {
    font-size: 22px;
  }
  .txt {
    width: 340px;
  }
}

@media screen and (max-width: 340px) {
  .txt {
    width: 240px;
  }
}
